<mat-card>
  <h2>Traders</h2>

  <div class="example-container">
    <form>
      <mat-form-field class="example-full-width">
        <input #name matInput placeholder="Name">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="add(name.value); symbol.value=''; company.value = ''">Add
        Trader
      </button>
    </form>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/traders/details/{{element.getName()}}" routerLinkActive="active">{{element.getName()}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="unreleasedpnl">
      <th mat-header-cell *matHeaderCellDef> Unreleased PnL</th>
      <td mat-cell *matCellDef="let element"> {{element.getUnreleasedPnL()}}</td>
    </ng-container>

    <ng-container matColumnDef="releasedpnl">
      <th mat-header-cell *matHeaderCellDef> Released PnL</th>
      <td mat-cell *matCellDef="let element"> {{element.getReleasedPnL()}}</td>
    </ng-container>

    <ng-container matColumnDef="totalpnl">
      <th mat-header-cell *matHeaderCellDef> Total PnL</th>
      <td mat-cell *matCellDef="let element"> {{element.getTotalPnL()}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table>


</mat-card>

